---
import "./NavMenu.scss";

const pathname: string = new URL(Astro.request.url).pathname;
const currentPath: string = pathname.slice(1); // remove the first "/"
---

<div class="main-nav__menu flex flex-row justify-end">
  <div
    class={`mr-2 main-nav__menu-item ${
      currentPath === "" ? "main-nav__menu-item--active" : ""
    }`}
  >
    <a href="/">Home</a>
  </div>
  <div
    class={`mr-2 main-nav__menu-item ${
      currentPath.startsWith("events") ? "main-nav__menu-item--active" : ""
    }`}
  >
    <a href="/events">Eventi</a>
  </div>
  <div
    class={`main-nav__menu-item ${
      currentPath.startsWith("contributors")
        ? "main-nav__menu-item--active"
        : ""
    }`}
  >
    <a href="/contributors">Contributors</a>
  </div>
</div>
