@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .main-nav {
    &__menu-item {
      @apply font-oswald;
      @apply uppercase;
      @apply text-2xl;
      @apply tracking-tighter;
      transition: all 0.5s ease;

      &:after {
        transition: all 300ms ease;
        content: " ";
        display: block;
        width: 0;
        height: 4px;
        background: theme("colors.primary");
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &--active {
        &:after {
          width: 100%;
        }
      }
    }
  }
}
