---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import moment from "moment";
import BeerParticlesContainer from "../components/display/BeerParticlesContainer.astro";
import ContentSection from "../components/display/ContentSection.astro";
import ContentTitle from "../components/display/ContentTitle.astro";
import EventPreview from "../components/display/EventPreview.astro";
import InfoIcon from "../components/display/InfoIcon.astro";
import MosaicSection from "../components/layouts/MosaicSection.astro";
import TaglineSocial from "../components/layouts/TaglineSocial.astro";
import { CONFIG } from "../config";

const pageTitle = "Home";

const events = (
  await getCollection(
    "events",
    ({ data }) => data.draft !== true && moment(data.date).isAfter(moment())
  )
)
  .sort((a, b) => moment(a.data.date).diff(b.data.date))
  .slice(0, 3);
---

<BaseLayout
  isNavBarSticky={false}
  pageTitle={pageTitle}
  seo={{
    title: `Beer Tech Group`,
    description: `Il Beer Tech Group è un gruppo di developer, designer e appassionati di tecnologia, che fanno base a Palermo`,
    type: "website",
    image: "/images/logo_yellow.png",
    imageAlt: `Beer Tech Group`,
    og: {
      title: `Home page of Beer Tech Group`,
    },
    twitter: {
      card: "summary",
    },
  }}
>
  <div slot="after-header">
    <BeerParticlesContainer>
      <section class="flex w-full flex-col">
        <h2>{CONFIG.name}</h2>
      </section>
      <TaglineSocial />
    </BeerParticlesContainer>
  </div>

  <ContentSection>
    <ContentTitle>Prossimi eventi</ContentTitle>
    {
      events.length > 0 ? (
        <MosaicSection>
          {events.map((event) => (
            <EventPreview event={event} className="my-5 sm:mx-5" />
          ))}
        </MosaicSection>
      ) : (
        <p class="text-center font-bold">
          Nessun evento in programma. Verifica tra qualche giorno.
        </p>
      )
    }
  </ContentSection>

  <ContentSection>
    <div class="divide-x-2">
      <hr />
    </div>
  </ContentSection>

  <!-- About -->
  <ContentSection>
    <ContentTitle>Chi siamo</ContentTitle>
    <p>
      Il <strong>Beer Tech Group</strong> è un gruppo di developer, designer e appassionati
      di tecnologia, che fanno base a Palermo, Italia. Nasce nel 2023 con lo scopo
      di portare il format <strong>"Tech and Beer"</strong> nel capoluogo siciliano.
    </p>
    <p>
      Con la volontà di creare una comunità di tecnofili coesa e sempre più
      grande, abbiamo deciso di non legarci ad alcuna tecnologia particolare,
      anzi incentiviamo la diversità in tutte le sue forme. Per questo motivo
      cerchiamo attivamente di coinvolgere ruoli diversi e parlare di argomenti
      non strettamente legati ad un solo ambito.
    </p>
  </ContentSection>

  <!-- How it works -->
  <ContentSection>
    <ContentTitle>Come partecipare</ContentTitle>
    <p>
      Periodicamente organizziamo degli eventi usando il format <strong
        >"Tech and Beer"</strong
      >, ovvero una modalità di evento informale in cui i partecipanti si
      trovano in un luogo comune con la possibilità di assistere a degli <i
        >speech</i
      >, sorseggiando un'ottima birra, restando insieme e chiacchierando anche oltre
      la fine dell'evento. Con la possibilità di parlare con i mentor a
      disposizione o anche solo per conoscersi e stare in compagnia.
    </p>
    <p>Il primo giro di birra è offerto da noi o dai nostri sponsor.</p>
    <p>
      Per partecipare segui il nostro sito o i nostri canali social e registrati
      agli eventi. All'ingresso dell'evento la tua iscrizione sarà verificata e
      riceverai il token per riscattare la tua birra e il tuo gadget.
    </p>
    <section
      class="my-10 flex flex-col flex-wrap items-center justify-center sm:flex-row sm:items-start sm:justify-between"
    >
      <InfoIcon icon="book_online">Prenotati all'evento</InfoIcon>
      <InfoIcon icon="move">Vieni al locale</InfoIcon>
      <InfoIcon icon="qr_code_scanner">Registra la tua presenza</InfoIcon>
      <InfoIcon icon="sports_bar">
        Assisti all'evento e gusta la tua birra
      </InfoIcon>
    </section>
  </ContentSection>

  <ContentSection>
    <div class="divide-x-2">
      <hr />
    </div>
  </ContentSection>

  <!-- Attention -->
  <ContentSection>
    <h3 class="text-md">Attenzione</h3>
    <p class="text-[14px]">
      In alcun modo incentiviamo e appoggiamo l'abuso di alcol. L'alcolismo è
      una dipendenza seria e non va sottovalutata in alcuna maniera. Se pensi che tu o qualcuno che conosci avete bisogno di aiuto, contatta <a
        class="underline"
        href="https://www.salute.gov.it/portale/alcol/dettaglioContenutiAlcol.jsp?lingua=italiano&id=2366&area=alcol&menu=vuoto"
        >gli organi preposti</a
      >.
    </p>
    <p class="text-[14px]">
      I partecipanti ai nostri eventi devono essere maggiorenni e non
      faremo nessuna eccezione. Per saperne di più leggi il <a href="/code-of-conduct"
        >codice di condotta.</a
      >
    </p>
  </ContentSection>
</BaseLayout>
