---
import BaseLayout from "@layouts/BaseLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const sponsors = await getCollection("sponsors");
  return sponsors.map((entry: CollectionEntry<"sponsors">) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout pageTitle={entry.data.name}>
  <a href="/sponsors">Tutti gli sponsor</a>
  <Content />
</BaseLayout>
