---
import { getCollection } from "astro:content";

import BaseLayoutWithTitle from "@layouts/BaseLayoutWithTitle.astro";

const pageTitle = "Sponsors";

const sponsors = await getCollection("sponsors");
---

<BaseLayoutWithTitle pageTitle={pageTitle}>
  <h2>Sponsors</h2>
  <ul>
    {
      sponsors.map((sponsor) => (
        <a href={`/sponsors/${sponsor.slug}`} title={sponsor.data.name}>
          {sponsor.data.name}
        </a>
      ))
    }
  </ul>
</BaseLayoutWithTitle>
