---
type Props = {
  icon: string;
  counter: number | string;
  title: string;
};

const { icon, counter, title } = Astro.props;
---

<div class="mx-10 mb-10 flex flex-col items-center justify-start sm:mb-0">
  <div>
    <span class="material-symbols-outlined text-[50px]"> {icon}</span>
  </div>
  <h2>{counter}</h2>
  <div>{title}</div>
</div>
