---
import Tagline from "../layouts/Tagline.astro";
import BeerParticles from "./BeerParticles";
---

<Tagline>
  <section class="absolute left-0 top-0 right-0 z-[-1] h-full w-full">
    <BeerParticles client:load />
  </section>
  <slot>
    <h2>Put your title or content here</h2>
  </slot>
</Tagline>
