---
import type { CollectionEntry } from "astro:content";
import moment from "moment";
import ButtonLink from "../input/ButtonLink.astro";

type Props = {
  event: CollectionEntry<"events">;
  className?: string;
};

const { event, className = "" } = Astro.props;

const { data } = event;
---

<section class={`flex flex-col items-center justify-start ${className}`}>
  <section class="my-2 text-center">
    <h3 class="text-xl">{data.title}</h3>
    <h4 class={`font-normal not-italic`}>
      {moment(data.date).format("DD MMM, YYYY")}
    </h4>
    <h4 class="font-normal italic">{data.type}</h4>
    <ButtonLink
      link={data.permalink}
      color="secondary"
      variant="contained"
      className="mt-3"
    >
      Vedi
    </ButtonLink>
  </section>
</section>
