---
type Props = {
  icon: string;
};

const { icon } = Astro.props;
---

<div
  class="mx-10 mb-10 flex flex-col items-center justify-start md:w-[250px] xl:mb-0"
>
  <div
    class="mb-4 flex h-[60px] w-[60px] flex-col items-center justify-center rounded-full bg-secondary p-2"
  >
    <span class="material-symbols-outlined text-[40px] text-white">{icon}</span>
  </div>
  <div>
    <slot />
  </div>
</div>
