---
import { CONFIG } from "../config";
---

<div class="mx-5 mt-10 text-center">
  <p>Bevi responsabilmente | {`${CONFIG.group.name}`}</p>
  <p>Made with ❤️ 🍺 and <a href="https://astro.build/">Astro</a></p>
</div>
