---
import BaseLayout from "@layouts/BaseLayout.astro";

type Props = {
  pageTitle: string;
};

const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <slot />
</BaseLayout>
