---
import FooterSocial from "../components/layouts/FooterSocial.astro";
---

<div class="mx-5 mt-10 text-center">
  <FooterSocial />
  <div class="my-5 flex flex-col items-center justify-center gap-2 sm:flex-row">
    <span>Bevi responsabilmente</span><span class="hidden sm:inline-block"
      >|</span
    ><span>Beer Tech Group</span><span>|</span><span
      ><a href="/code-of-conduct">Codice di condotta</a></span
    >
  </div>
  <p>Made with ❤️ 🍺 and <a href="https://astro.build/">Astro</a></p>
</div>
