---
import { getCollection } from "astro:content";

import BaseLayoutWithTitle from "@layouts/BaseLayoutWithTitle.astro";

export async function getStaticPaths() {
  return {
    params: { path: "" },
  };
}

const pageTitle = "Events";

const events = await getCollection("events");
---

<BaseLayoutWithTitle pageTitle={pageTitle}>
  <h2>Eventi</h2>
  <ul>
    {
      events.map((event) => (
        <a href={`${event.data.permalink}`} title={event.data.title}>
          {event.data.title}
        </a>
      ))
    }
  </ul>
</BaseLayoutWithTitle>
